body{
    margin: 0;
}

*{
    border: 1px dashed red;
}

#main-nav{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

#main-nav .item{
    background-color: burlywood;
    width: 33%;
    text-align: center;
}

#main-nav .item a{
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.side-bar{
    width: 25vw;
    background-color: lightblue;
}