body{
    margin: 40;
}

main{
    display: flex;
    flex-direction: column;
}

#menu{
    display: flex;
}

#menu{
    display: flex;
    justify-content: space-between
    list-style-type: none;
    padding: 10px;
}

#menu li{
    font-family: sans-serif;
    padding: 10px;
    transition: all 1s ease-out;
    background-color: lightcyan;
    font-size: 2rem;
}

#menu li:hover{
    transition: all 1s ease-out;
    transform: translate(0, 50px);
    background-color: orangered;
}

@media screen and (min-width: 480px){
    article p{
        columns: 2;
    }

    body{
        margin: 60px;
    }
}

@media screen and (min-width: 700px){
    article p{
        columns: 3;
    }

    main{
        flex-direction: row;
    }

    body{
        margin: 100px;
    }
}