.ulFEP{
    display: flex;
  }
  
.ulFEP li{
    list-style-type: none;
    margin-top: 5px;
}

.descrli{
    margin-left: 80px;
}

#passajapuce li{
    margin-left: 130px;
    margin-top: 5px;
}

h2{
    font-weight: 200;
    font-size: 1.28em;
    text-decoration : underline;
}

div
{
    color: white;
    transition-property: color;
    transition-duration: 10s;
}

div:hover
{
    color: black;
}