body{
    margin: 0;
}

.tout{
    width: 50%;
    margin: auto;
}

#main-nav{
    display: block;
    font-weight: bold;
    background-color: rgb(201, 201, 201);
    padding: 12px;
}

#main-nav h1{
    text-decoration: none;
    color: black;
    text-align: center;
}

ul{
    padding: 0;
}

.side-bar{
    display: block;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgb(65, 65, 65);
    margin-bottom: 1%;
    background-color: white;
    text-align: center;
    font-size: 130%;
    margin: 4%;
}

.side-bar .grass{
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.side-bar .petit-dessin{
    color: white;
    background-color: rgb(255, 153, 0);
    border-radius: 120%;
    font-weight: bolder;
    float: right;
    font-size: 120%;
    margin-right: 1%;
    margin-top: -1.5%;
    padding: 5px 12px;
    border: none;
}

#une-entree{
    display: flex;
    background: rgb(0, 140, 255);
    text-transform: uppercase;
    color: white;
    margin-left: auto;
    border-radius: 15px;
    padding: 10px 50px;
    text-align: center;
    font-size: 200%;
    border: none;
}
#text{
    display: flex;
    width: 60%;
    height: 55px;
}

.block-add{
    display: flex;
    margin: 10% 4% 0% 4%;
}